<%- include("parts/header")%>

    <section class="container mx-auto flex flex-col items-center">
        <div class="container mx-auto  mt-[20px] p-[5px]">
           
            <h1 class=" text-[40px] text-gray-600 font-bold text-center">Messages:(<%=receiver.username %> )</h1>
            
            <ul class=" rounded p-[4px] mx-auto  w-full flex flex-col items-start border-2 border-lightblue-600 " style="box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);">
                <li class="inline-block border-4 border-indigo-600 py-2 px-5 rounded mt-1" > <p class="">sdsd</p></li>
                <li class="self-end inline-block border-4 border-yellow-600 py-2 px-5 rounded mt-1"><p class="">sdsd</p></li>
            </ul>
            
           



        </div>

     

        <form method="POST" class="mt-4   w-full flex justify-between items-center   p-5 rounded" enctype="multipart/form-data" style="box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);">
            <textarea name="message_text"  cols="1" rows="1" class="w-[90%] bg-indigo-50 px-4 py-2 outline-none rounded-md w-full text-gray-900 font-bold "></textarea>
            <button class="w-[10%] h-full font-semibold py-2 rounded-md  tracking-wide bg-yellow-500 hover:bg-yellow-400 text-white font-bold py-2 px-4 border-b-4 border-yellow-700 hover:border-yellow-500 rounded" style="font-weight: 900;" type="submit">Send</button>
        </form>
        




    </section>



<%- include("parts/footer.ejs")%>