
    <footer class=" bottom-[0px] left-[0px] right-[0px] fixed" >
        <div class="container mx-auto bg-sky-600 text-white font-bold p-5">
            <p>All rights reserved</p>
        </div>
    </footer>




</body>
</html>